<!-- -*- html -*- -->

<head>
  <title> <%= $fqsrcname %> </title>
</head>

<body>

  <h1> <%= $fqsrcname %> </h1>

  <pre>
<%= $text %>
  </pre>

  <a href="."> back to <%= $dir->{NAME} %> </a>

<body>
